{
    "name": "{{gitUserId}}/{{packageName}}",
    {{#artifactVersion}}
    "version": "{{.}}",
    {{/artifactVersion}}
    "type": "library",
    "description": "OpenAPI client for Kleister",
    "keywords": [
        "openapitools",
        "openapi-generator",
        "openapi",
        "php",
        "sdk",
        "rest",
        "api",
        "minecraft"
    ],
    "homepage": "https://github.com/{{gitUserId}}/{{gitRepoId}}",
    "license": "Apache-2.0",
    "authors": [
        {
            "name": "Thomas Boerger",
            "email": "thomas@webhippie.de"
        }
    ],
    "require": {
        "php": "^7.3 || ^8.0",
        "ext-curl": "*",
        "ext-json": "*",
        "ext-mbstring": "*",
        "guzzlehttp/guzzle": "^7.3",
        "guzzlehttp/psr7": "^1.7 || ^2.0"
    },
    "require-dev": {
        "phpunit/phpunit": "9.5.20",
        "friendsofphp/php-cs-fixer": "3.8.0"
    },
    "autoload": {
        "psr-4": { "{{escapedInvokerPackage}}\\" : "{{srcBasePath}}/" }
    },
    "autoload-dev": {
        "psr-4": { "{{escapedInvokerPackage}}\\Test\\" : "{{testBasePath}}/" }
    }
}
