---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: general

"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup php
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2
        with:
          php-version: "8.3"

      - name: Install generator
        run: npm install @openapitools/openapi-generator-cli -g

      - name: Run generate
        run: bash hack/generate-client.sh

      - name: Run install
        run: composer install

      - name: Run test
        run: vendor/bin/phpunit

...
